aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arxiv
attrs
certifi
cffi
charset-normalizer
click
cryptography
dataclasses-json
deprecation
distro
dnspython
ecdsa
email-validator
faiss-cpu
fastapi
feedparser
filelock
frozenlist
fsspec
gotrue
groq
h11
h2
hf-xet
hpack
httpcore
httpx
httpx-sse
huggingface-hub
hyperframe
idna
jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langsmith
markupsafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
numpy
orjson
packaging
pillow
postgrest
propcache
pyasn1
pycparser
pydantic
pydantic-settings
pydantic-core
pyjwt
python-dateutil
python-dotenv
python-jose
python-multipart
pyyaml
realtime
regex
requests
requests-toolbelt
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sgmllib3k
six
sniffio
sqlalchemy
starlette
storage3
strenum
supabase
supafunc
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspect
typing-inspection
typing-extensions
urllib3
uvicorn
pydantic[email]
deep_translator
cloudinary 
websockets
xmltodict
yarl
zstandard
openai
bcrypt==4.0.1
passlib==1.7.4
