fastapi
langchain
langchain-groq
langchain-ollama
langchain-openai
langsmith
passlib[bcrypt]
pydantic
python-dotenv
python-jose[cryptography]
python-multipart
requests
langchain-community
langchain-core
openai
supabase
uvicorn
arxiv
faiss-cpu
sentence-transformers
fastapi
pydantic[email]
zstandard  
watchdog                 
websockets                
yarl 
aiohappyeyeballs          
aiohttp                   
aiosignal                 
altair                    
annotated-types           
anyio   
attrs                     
bcrypt                    
beautifulsoup4            
blinker                   
cachetools                
certifi                   
cffi                      
charset-normalizer        
click                     
colorama                  
cryptography              
dataclasses-json          
deprecation               
distro                    
ecdsa      
faiss-cpu      
feedparser                
filelock                  
frozenlist                
fsspec                    
gitdb                     
GitPython                 
gotrue                    
greenlet                  
groq                      
h11                       
h2                        
hpack                     
httpcore                  
httpx                     
httpx-sse                
huggingface-hub           
hyperframe                
idna                      
Jinja2                  
jiter                     
joblib                    
jsonpatch                 
jsonpointer               
jsonschema                
jsonschema-specifications 
langchain-text-splitters
langchain-text-splitters                         
MarkupSafe              
marshmallow               
mpmath                    
multidict                
mypy_extensions          
narwhals                  
networkx                  
numpy                     
ollama                    
openai                    
orjson                    
packaging                 
pandas                    
passlib                   
pillow                    
pip                       
postgrest                 
propcache                 
protobuf                  
pyarrow                   
pyasn1                    
pycparser                 
pydantic                  
pydantic_core            
pydantic-settings         
pydeck                    
PyJWT                     
PyMuPDF                   
python-dateutil           
python-dotenv             
python-jose               
python-multipart          
pytz                      
PyYAML                    
realtime                  
referencing               
regex                     
requests                  
requests-toolbelt         
rpds-py                   
rsa                       
safetensors              
scikit-learn              
scipy                     
sentence-transformers     
setuptools                
sgmllib3k                 
six                       
smmap                     
sniffio                   
soupsieve                 
SQLAlchemy                
starlette                 
storage3                  
streamlit                 
StrEnum                   
supabase                  
supafunc                  
sympy                    
tenacity                  
threadpoolctl             
tiktoken                  
tokenizers                
toml                      
torch                     
tornado                   
tqdm                      
transformers              
typing_extensions         
typing-inspect            
typing-inspection         
tzdata                    
urllib3                
watchdog                
websockets                
yarl                      
zstandard                 

