fastapi
langchain
langchain-groq
langchain-ollama
langchain-openai
langsmith
passlib[bcrypt]
pydantic
python-dotenv
python-jose[cryptography]
python-multipart
requests
langchain-community
langchain-core
openai
supabase
uvicorn
